<head>
    <title>flask demo</title>
</head>
<body>
    <h2 style="background-color: lightgreen;">Demo web application: calculator</h2>
    <a href="/">Home</a>; <a href="/database">Database</a> <br><br>

    <form action="/" method="post">
        <input type="number" name="n1">
        <select name="operator">
            <option value="+">+ (plus)</option>
            <option value="-">- (minus)</option>
            <option value="*">* (multiply)</option>
            <option value="/">/ (divide)</option>
        </select> 
        <input type="number" name="n2"> <br><br>
        <textarea rows="3" cols="50" readonly style="background-color: azure;">{{result}}</textarea>
        <br>

        <p>Checkbox input</p>
        <input type="checkbox" name="check1"> option 1
        <input type="checkbox" name="check2"> option 2
        <input type="checkbox" name="check3"> option 3
        <p>Radio input: do you like python?</p>
        <input type="radio" name="likepython" value="yes"> Yes I do
        <input type="radio" name="likepython" value="no"> No I don't
        <input type="radio" name="likepython" value="neutral"> Not sure
        <br><br><input type="submit" name="calculate" value="submit all input"> <br>
        <textarea readonly>My degree of enjoying Python is {{like}}</textarea>
        
    </form>
    
</body>